/* @import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"; */

.heading h1
{

}
.heading h3
{

}
.ol
{

}
.result
{

}
.guess
{

}
.bolly
{

}
.Letters
{

}
html,
body {
    margin: 0px;
    height: 100%;
}

body{
  margin:0;
  padding:0;
  font-family: "Montserrat";
}
/* .container{
    background-image: url("mbg.jpg");
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
        left: 0px;
      opacity: 0.2;
} */

.btn
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate();
    background: #e74c3c;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}
#box{
  width: 500px;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;

}
#box h5
{
color: #d9001b;
}

#box span
{
  color: #d9001b;
  font-size: 40px;
  display: block;
  margin: 20px 0;

}

#box h1{
  color:#333;
}
.close
{
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  background: #d9001b;
  display: inline-block;
}

border-radius: 4px;
